.logo-1,
.logo-2 {
  font-size: 30px;
  width: 120px;
  color: silver;
}
.logo-1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo-2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.loaction-con {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-card {
  width: 750px;
  height: 200px;
  display: flex;
  border: 3px solid rgb(0, 0, 51, 0.9);
  color: rgb(0, 0, 51, 0.9);
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-con > img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.text-con {
  width: 450px;
  height: 300px;
  text-align: center;
  border-left: solid 2px rgb(0, 0, 51, 0.9);
  padding-top: 20px;
}

#text-1 {
  height: 300px;
  margin-top: -40px;
  padding-top: 60px;
}

#text-3 {
  height: 220px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(230, 230, 255, 0.6);
}

body > * {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

#text-area {
  font-weight: bolder;
  font-size: 25;
  line-height: 20px;
}

button {
  height: 30px;
  width: 150px;
  border-radius: 2px;
  background: rgb(230, 230, 255);
  color: rgb(0, 0, 77);
  border: none;
  cursor: pointer;
  position: sticky;
}

button:hover {
  font-weight: bold;
}

#logo-butt {
  background: transparent;
  border: none;
  color: white;
  width: auto;
  height: auto;
  outline: none;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  height: 100px;
  align-items: center;
  background: rgb(0, 0, 51);
  color: beige;
  font-weight: bolder;
  font-size: 15px;
  justify-content: space-evenly;
}

.navbar-mobil {
  display: none;
}

.logo-1,
.logo-2 {
  font-size: 30px;
  width: 120px;
  color: silver;
}
.logo-1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo-2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.impressum {
  display: flex;
  justify-content: center;
  background: rgb(0, 0, 51, 0.9);
  color: whitesmoke;
}

.contact-container {
  display: flex;
  align-content: center;
}

.contact-container > div {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
}

.link {
  color: whitesmoke;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  body > * {
    text-align: center;
    font-size: 15px;
  }

  .navbar-mobil {
    position: fixed;
    display: block;
    height: 50px;
    background: rgb(0, 0, 51, 0.9);
    color: beige;
    font-weight: bolder;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 2;
  }

  .navbar-mobil > a {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .navbar-mobil > button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 75px;
  }

  .logo-1,
  .logo-2 {
    font-size: 29px;
    width: 100px;
    color: silver;
    margin-top: 12px;
    margin-bottom: 15px;
  }

  .operator {
    position: absolute;
    float: right;
    margin: 5px;
    font-size: 30px;
    font-weight: 100;
    right: 5px;
  }

  .loaction-con {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .location-card {
    width: 300px;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 51, 0.9);
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 0px;
  }

  .image-con {
    width: 300px;
    height: 300px;
  }

  .image-con > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .text-con {
    width: 300px;
    height: 200px;
    padding-top: 70px;
    margin: 0px;
    text-align: center;
    border-left: none;
    border-top: solid 2px rgb(0, 0, 51, 0.9);
  }

  .impressum {
    width: auto;
    height: auto;
    margin-bottom: 0px;
  }

  .contact-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
  }

  .contact-container > * {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
