body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body > * {
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

button {
  height: 30px;
  width: 150px;
  border-radius: 2px;
  background: rgb(230, 230, 255);
  color: rgb(0, 0, 77);
  border: none;
  cursor: pointer;
  position: sticky;
}

button:hover {
  font-weight: bold;
}


#logo-butt{
  background: transparent;
  border: none;
  color: white;
  width: auto;
  height: auto;
  outline: none;

}



a, a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}


.navbar {
  display: flex;
  height: 100px;
  align-items: center;
  background: rgb(0, 0, 51);
  color: beige;
  font-weight: bolder;
  font-size: 15px;
  justify-content: space-evenly;
}

.navbar-mobil {
  display: none;
}

.logo-1,
.logo-2 {
  font-size: 30px;
  width: 120px;
  color: silver;
}
.logo-1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo-2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.credit-con {
  height: inherit;
  background-image: url("./assets/happy-woman.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.con-container > h1 {
  color: whitesmoke;
}

.controller {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 77, 0.7);
}

.con-container {
  width: 70%;
  height: 100%;
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  font-weight: bolder;
  margin-bottom: 50px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 20px;
}

.slider-container > p {
  margin-top: 70px;
  margin-bottom: 30px;
}

.slider {
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  margin: 5px;
  height: 7px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(0, 0, 51, 0.9);
  border: 3px solid whitesmoke;
  cursor: pointer;
}

select {
  margin-top: -50px;
  margin-bottom: 50px;
}

.credit-vals-container {
  width: 70%;
  display: flex;
}

.credit-vals-container > div {
  width: 50%;
}

.credit-vals-container > div > div {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.credit-vals-container > div > div > p {
  padding-left: 5px;
  padding-right: 5px;
}

.img-con {
  width: 200px;
  height: 150px;
  display: flex;
  align-self: flex-end;
  margin-top: 50px;
  margin-right: -120px;
}

.img-con > img {
  width: 120px;
  height: 120px;
  margin-left: 3px;
  margin-right: 3px;
}

.easy-steps {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.easy-steps div > h1 {
  color: rgb(0, 0, 51, 0.9);
}

.turbo {
  width: 70%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  display: flex;
}

.icon-container > div {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  opacity: 0;

}

[data-inviewport="fade-in"].is-inViewport >  #img1 {
  transition: .6s ease;
  opacity: 1;
}
[data-inviewport="fade-in"].is-inViewport >  #img2 {
  transition: 1s ease;
  opacity: 1;
}
[data-inviewport="fade-in"].is-inViewport >  #img3 {
  transition: 1.4s ease;
  opacity: 1;
}
[data-inviewport="fade-in"].is-inViewport >  #img4 {
  transition: 1.8s ease;
  opacity: 1;
}

.icon-container > div > img {
  height: 64px;
  width: 64px;
}


.icon-container > div > p {
  display: flex;
  
}



[data-inviewport="float-in"].is-inViewport > #p-1 {
  transition: .6s ease-out;
  left: 0px;
}
[data-inviewport="float-in"].is-inViewport > #p-2 {
  transition: .6s ease-out;
  top: 0px;
}
[data-inviewport="float-in"].is-inViewport > #p-3 {
  transition: .6s ease-out;
  right: 0px;
}

.ad-container{
  width: 950px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

#p-1 {
  position: relative;
  float: left;
  left: -300px;
}
#p-2 {
  position: relative;
  float: left;
  top: -400px;
}

#p-3 {
  position: relative;
  float: left;
  right: -300px;
}

.ad-container > div > p {
  width: 250px;
  height: 330px;
  text-align: left;
  padding: 20px;
  font-size: 18px;
  border: 2px solid rgb(0, 0, 77);
  border-radius: 5px;
  margin: 7px;
}


.order-credit {
  width: 50%;
  font-size: 18px;
  margin-top: 50px;
}

.order-credit > p {
  text-align: left;
  padding: 20px;

}


.make-contract {
  width: 100%;
  height: 400px;
  background-image: url("./assets/hands.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  margin: 50px 0px 50px 0px;
  overflow: hidden;
}

.make-contract:hover > div{
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 77, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0px;
  transition: .6s ease-in-out;
}


#contract-header {
  position: absolute;
  color: whitesmoke;
  transform: translate(-50%);
  top: 0px;
  left: 50%
}

.make-contract > div{
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 77, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -400px;
  transition: .3s ease-in-out;
}

.contract-button {
  width: 200px;
  height: 50px;
  margin: 20px;
}

.fast-money > div {
  margin-bottom: 50px;
}

.circle-con {
  margin-left: 100px;
}

.square-con {
  margin-right: 100px;
}

.wrap-text,
.wrap-text-2 {
  font-size: 18px;
  width: 520px;
}

.wrap-text {
  text-align: left;
  padding: 10px;
}

.wrap-text-2 {
  text-align: right;
  width: 500px;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  border: 25px solid white;
  position: relative;
}

.circle > img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.square {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  float: right;
  shape-outside: circle();
  border: 25px solid white;
  position: relative;
}

.square > img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.impressum {
  width: 101%;
  height: 300px;
  border: 1px solid white;
  margin-top: 50px;
}

.impressum {
  display: flex;
  justify-content: center;
  background: rgb(0, 0, 51, 0.9);
  color: whitesmoke;
  margin-top: 100px;
}

.contact-container {
  display: flex;
  align-content: center;
}

.contact-container > div {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
}

.link {
  color: whitesmoke;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  body > * {
    text-align: center;
    font-size: 15px;
  }

  .navbar-mobil {
    position: fixed;
    display: block;
    height: 50px;
    background: rgb(0, 0, 51, 0.9);
    color: beige;
    font-weight: bolder;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 2;
  }

  .navbar-mobil > a {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .navbar-mobil > button {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 75px;
  }

  .logo-con {
    margin: 5px;
    height: 50px;
    font-size: 18px;
    width: 75px;
  }

  .operator {
    position: absolute;
    float: right;
    margin: 5px;
    font-size: 30px;
    font-weight: 100;
    right: 5px;
  }

  .controller {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 51, 0.9);
  }

  .credit-con {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: auto;
  }

  .con-container {
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-weight: bolder;
  }

  .con-container > h1 {
    margin-top: 100px;
  }

  .slider-container {
    width: 85%;
    margin-top: 20px;
  }

  .credit-vals-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .credit-vals-container > div {
    width: 90%;
  }

  .img-con {
    align-self: center;
    margin: 0;
    margin-top: 50px;
  }

  .img-con > img {
    width: 50%;
    height: 120px;
  }

  .easy-steps > * > * {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .turbo {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }

  .ad-container > div > p {
    width: auto;
    text-align: center;
  }

  .order-credit {
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
  }

  .circle-con,
  .square-con {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
    font-size: 15px;
    padding: 15px;
  }

  .wrap-text,
  .wrap-text-2 {
    font-size: 15px;
    width: auto;
    text-align: center;
  }

  .impressum {
    width: auto;
    height: auto;
    margin-bottom: 0px;
  }

  .contact-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
  }

  .contact-container > * {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
